<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Página de Perfil </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

{% block content %}
    {% if validlink %}
        <body>
            {% csrf_token %}
            <section class="hero is-link is-fullheight">
                <div class="section is-large">
                    <h1 class="title"> Reset de Senha para  <span class="has-text-success">{{ user.username }}</span>! </h1>
                <form name="form-reset" id="formReset" method="post">
                
                    <div class="field">
                      <label class="label">Senha Anterior:</label>
                      <p class="control has-icons-left">
                          <input class="input" type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Senha">
                          <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                          </span>
                      </p>
                    </div>
                
                    <div class="field">
                      <label class="label">Nova Senha:</label>
                      <p class="control has-icons-left">
                          <input class="input" type="password" name="senha" id="senha" placeholder="Senha">
                          <span class="icon is-small is-left">
                              <i class="fas fa-lock"></i>
                          </span>
                      </p>
                    </div>
                        <button type="submit" class="button is-alert is-hovered"> Reset de Senha </a>
                        <a type="button" class="button is-danger is-hovered" href="/home/"> Página Inicial </a>
                    </div>
                </form>
            </section>
        </body>
    {% else %}
        <body>
            <section class="hero is-link is-fullheight">
                <div class="section is-large">
                    <h1 class="title"> Link Inválido </h1>
                    <h2 class="subtitle"> Provavelmente seu link expirou, volte e tente novamente. </h2>
                    <a type="button" class="button is-alert is-hovered" href="/registration/password_reset"> Reset de senha </a>
                    <a type="button" class="button is-danger is-hovered" href="/home/"> Página Inicial </a>
                </div>
            </section>
        </body>
    {% endif %}
{% endblock %}