<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Reset de Senha </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

{% block body %}
<body>
    <section class="hero is-link is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <form name="form_resetpassword" id="form_resetpassword" method="post">
                            <div class="tela">

                                {% if msg %}

                                    <article class="message is-danger">
                                         <div class="message-header">
                                            <p> {{msg}} </p>
                                            <button class="delete" aria-label="delete"></button>
                                        </div>
                                    </article>

                                {% endif %}

                                <br> <br>

                                {% csrf_token %}
                                <div class="field">
                                    <label class="label"> Email:</label>
                                    <p class="control has-icons-left has-icons-right">
                                        <input class="input" type="email" name="email" id="email" placeholder="Insira um nome de Usuário">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>

                                <div class="field">
                                    <p class="control">
                                        <input class="button is-success is-hovered" type="submit" value="Envie me Instruções!">
                                        <a type="button" class="button is-danger is-hovered" href="/cadastro"> Cancelar </a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}