{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/cadastro.css'%}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

{% block body %}
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">
                        <form name="form-login" id="formLogin" action="/dologin/" method="post">
                            <div class="tela">

                                {% if msg %}

                                    <article class="message is-danger">
                                         <div class="message-header">
                                            <p> {{msg}} </p>
                                            <button class="delete" aria-label="delete"></button>
                                        </div>
                                    </article>

                                {% endif %}

                                <br> <br>

                                {% csrf_token %}
                                <div class="field">
                                    <label class="label has-text-light">Usuário</label>
                                    <p class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" name="usuario" id="usuario" placeholder="Insira um nome de Usuário">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <label class="label has-text-light">Senha</label>
                                    <p class="control has-icons-left">
                                        <input class="input" type="password" name="senha" id="senha" placeholder="Senha">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p><a class='label has-text-light' href="/password_reset">Lost password?</a></p>
                                    <p class="control">
                                        <button type="submit" class="button is-warning has-text-dark">
                                                Login
                                        </button>
                                        <a type="button" class="button is-dark has-text-white" href="/cadastro"> Cadastrar </a>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}