<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Faz Contato! - Mockup 3D Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="https://imgur.com/VyXhQ3O.png" type="image/x-icon"/>
</head>
<body>
    {% block body %}
        <nav id="headercomp">
            <ul id="headerprincipal">
                <li id="logo_header" href='#'> <a href="/"><img src="https://i.imgur.com/t3YMYaE.png"> </a> </li>
                <li id="produtos"> <a href="/produtospage/"> Produtos </a></li>
                <li id="servicos"> <a href="/servicos/"> Serviços </a></li>
                {% if request.user.is_authenticated %}
                    {% if imagem %}
                        <li id="estampa" href="#"> <a href="/estampa/"> Monte Sua Estampa </a></li>
                    {% else %}
                        <li id="estampa" href="#"> <a href="/upload/"> Monte Sua Estampa </a></li>
                    {% endif %}
                {% else %}
                <li id="estampa" href="#"> <a href="/login"> Monte Sua Estampa </a></li>
                {% endif %}
                <li id="contato" href="#"> <a href="https://wa.me/5584986282906"> Faz Contato! </a> </li>
            </ul>
        </nav>
        <br>
        <div id="linha"></div>
        <section id="chamada">
            <div id="chamadatextogrande">
                <p id="texto1">A  <span id="destaque"> MELHOR </span>   produção</p>
                <p>de camisetas do país.</p>
            </div>

            <div id="chamadatextopequeno">
                <p id="texto2"> Peça agora suas camisetas e vista </p>
                <p id="texto21">seu evento do seu jeito</p>
            </div>
            {% if request.user.is_authenticated %}
                <a id="a-button"href="{% url 'upload' %}"><button type="submit" href= "{% url 'cadastro' %}" id="botao2" > Monte sua Estampa </button><a/>
            {% else %}
                <a id="a-button"href="{% url 'cadastro' %}"><button type="submit" href= "{% url 'cadastro' %}" id="botao2" > Monte sua Estampa </button><a/>
            {% endif %}
        </section>
    </section>
    </section>
    {% endblock %}
</body>
</html>

<script>
    window.rwbp={email:'waddingtonf@outlook.com',phone:'+55 84986282906',message:'Olá, Faça seu Orçamento! ',lang:'pt-BR'}
</script>

<script defer async src='https://duz4dqsaqembt.cloudfront.net/client/whats.js'>
</script>