{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Faz Contato! - Mockup 3D Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/servicos.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="https://imgur.com/VyXhQ3O.png" type="image/x-icon"/>
</head>
<body>
    {% block body %}
        <nav id="headercomp">
            <ul id="headerprincipal">
                <li id="logo_header" href='#'> <a href="/"> <img src="https://i.imgur.com/t3YMYaE.png"> </a> </li>
                <li id="produtos"> <a href="/produtospage/"> Produtos </a></li>
                <li id="servicos"> <a href="/servicos/"> Serviços </a></li>
                {% if request.user.is_authenticated %}
                <li id="estampa" href="#"> <a href="/estampa/"> Monte Sua Estampa </a></li>
                {% else %}
                <li id="estampa" href="#"> <a href="/upload/"> Monte Sua Estampa </a></li>
                {% endif %}
                <li id="contato" href="#"> <a href="https://wa.me/5584986282906"> Faz Contato! </a> </li>
            </ul>
        </nav>
        <br>
        <div id="linha"></div>
<main>
    <section>
        <div class="object">
            <div class="caneca">
                <div class="caneca-imge">
                    <img src="https://imgur.com/S6WqT3m.png">
                </div>
                <div class="thumbnails">
                    <div class="thumbnail">
                        <img src="https://imgur.com/3OhZ8hs.png"> <!-- 1-->
                    </div>
                </div>
            </div>



                <div class="camisa">
                    <div class="camisa-imge">
                        <img src="https://imgur.com/e6IzSgZ.png">
                    </div>

                    <div class="thumbnails">
                        <div class="thumbnail">
                            <img src="https://imgur.com/cTFj2UG.png"> <!-- 1-->
                        </div>
                    </div>
                </div>


                    <div class="ecobag">
                        <div class="ecobag-imge">
                            <img src="https://imgur.com/G4sklkh.png">
                        </div>

                        <div class="thumbnails">
                            <div class="thumbnail">
                                <img src="https://imgur.com/T56N4dZ.png"> <!-- 1-->
                            </div>
                        </div>
                    </div>

        </div>
    </section>
</main>
</body>
{% endblock %}
</html>